body{
	background-image:url('../assets/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: grid;
    place-items: center;
  }
  .card-container{
    width: 40rem;
    height: 15rem;
    border: 3px solid #fafafa10;
    margin: 0 auto;
    border-radius: 1rem;
  }
  .glass-effect{
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
  }
  .card-container2{
    width: 40rem;
    height: 40rem;
    border: 3px solid #fafafa10;
    margin: 0 auto;
    border-radius: 1rem;
  }
  .glass-effect2{
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
  }
  p,h1,form,div{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:larger ;
  }
  .btn{
    cursor: pointer;
    border: 1px solid #001f3f; /* Borde azul marino */
    background-color: transparent; /* Fondo transparente */
    font-family: 'Arial black';
    border-radius: 5px;
    height: 40px;
    width: 110px;
    color: #a4b7cb; /* Texto en azul marino */
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(151, 177, 224, 0.5); 
    position: absolute;
    bottom: 30px;
    left: 20px;
    
}
 
